.sidebar{
    background-color: #235393;
    position: fixed;
    width: 250px;
    top: 80px;
    bottom: 0px;
}
.side-content{
    margin-left: 260px;
    margin-top: 85px;
}
.nav-item:hover{
    background-color: #57cc02;
}
@media only screen and (max-width: 600px) {
    .sidebar {
      display: none;
        }
    .tamil{
        font-size: 11px;
    }
    .english{
        font-size: 15px;
    }
    .side-content{
        margin-left: 0px;
    }
    .logoimg{
        width: 55px;
    }
  }
  .logoimg{
     width: 55px;
  }
 li{
    background-color: #436ba0;
 }

*{
    font-family: "Work Sans", sans-serif;
}
nav{
    background-color: #235393;
}
.navba-toggler{
    background-color: #235393;
    border: none;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 5px;
}
section{
    scroll-margin-top: 90px;
}
.About-Container{
    background-color: #235393;

}
.caption-name{
    text-shadow: 5px 2px black;
}
.slide-img{
    height: 350px;
}
::selection{
    background-color: #235393;
    color: white;
}
.FooterSection{
    background-color: #235393;
}