.sidebar{
    background-color: #235393;
    position: fixed;
    width: 250px;
    top: 80px;
    bottom: 0px;
}
.side-content{
    margin-left: 260px;
    margin-top: 85px;
}
li:hover{
    background-color: #57cc02;
}
@media only screen and (max-width: 600px) {
    .sidebar {
      display: none;
        }
    .tamil{
        font-size: 11px;
    }
    .side-content{
        margin-left: 10px;
    }
    h4{
        display: none;
    }
  }
 li{
    background-color: #436ba0;
 }

*{
    font-family: "Work Sans", sans-serif;
}
nav{
    background-color: #235393;
}
.navba-toggler{
    background-color: #235393;
    border: none;
}

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    border-radius: 5px;
}
section{
    scroll-margin-top: 85px;
}